.db {
  display: block;
}

.of-v {
  overflow: visible;
}

.of-h {
  overflow: hidden;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.fw-b {
  font-weight: bold;
}

.va-m {
  vertical-align: middle;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.icon-warning,
.icon-ku {
  color: #f76249;
}

em {
  font-style: normal;
  color: $el-orange;
}

.dn,
[v-cloak] {
  display: none;
}

@each $pos in left,
right,
center {
  .text-#{$pos} {
    text-align: #{$pos};
  }
}

.color-primary {
  color: $primary-color;
}

.color-error {
  color: $error-color;
}

.color-warning {
  color: $warning-color;
}

.el-red {
  color: $el-red;
}

.el-orange {
  color: $el-orange;
}

.el-yellow {
  color: $el-yellow;
}

.el-blue {
  color: $el-blue;
}

.el-light-blue {
  color: $el-light-blue;
}

.el-dark-blue {
  color: $el-dark-blue;
}

.el-green {
  color: $el-green;
}

.el-black {
  color: $el-black;
}

.el-light-black {
  color: $el-light-black;
}

.el-extra-light-black {
  color: $el-extra-light-black;
}

.el-gray {
  color: $el-gray;
}

.el-light-gray {
  color: $el-light-gray;
}

.el-extra-light-gray {
  color: $el-extra-light-gray;
}


.el-silver {
  color: $el-silver;
}

.el-light-silver {
  color: $el-light-silver;
}

.el-extra-light-silver {
  color: $el-extra-light-silver;
}

@for $i from 1 through 6 {
  .mr#{$i * 5} {
    margin-right: 5px * $i;
  }
  .ml#{$i * 5} {
    margin-left: 5px * $i;
  }
  .mt#{$i * 5} {
    margin-top: 5px * $i;
  }
  .mb#{$i * 5} {
    margin-bottom: 5px * $i;
  }
  .pr#{$i * 5} {
    padding-right: 5px * $i;
  }
  .pl#{$i * 5} {
    padding-left: 5px * $i;
  }
  .pt#{$i * 5} {
    padding-top: 5px * $i;
  }
  .pb#{$i * 5} {
    padding-bottom: 5px * $i;
  }

  .ft#{$i * 5} {
    font-size: 5px * $i;
  }

  .ft#{$i * 6} {
    font-size: 6px * $i;
  }

  .wh#{$i * 5} {
    width: 5px * $i;
  }
}

a {
  color: $primary-color;
}

.small {
  font-size: 80%;
}

.fixed-top {
  position: fixed!important;
  z-index: 999!important; // top: 0!important;
  left: 0!important;
  right: 0!important;
}

.fixed-footer-placeholder {
  height: 45px;
}

.fixed-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  .tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    &.tab-btn {
      height: 100%;
    }
    .iconfont {
      color: $primary-color;
    }
    button {
      height: 100%;
      width: 100%;
      background: $primary-color;
      color: white;
      border: 0;
      &.simple {
        background: none;
        color: $minor-font-color;
      }
      &:active {
        background: darken($primary-color, 5%);
      }
    }
    &.flex1 {
      flex: 1;
    }
    &.flex2 {
      flex: 2;
    }
  }
}

.search-header {
  min-height: 45px;
  padding: 0 10px;
  background: white;
  .cancel-btn {
    width: 50px;
    color: $primary-color;
    -webkit-appearance: none;
    background: none;
    border: none;
  }
  .search-input {
    height: 30px;
    background: $small-gray-color;
    border-radius: $border-radius;
    input {
      -webkit-appearance: none;
      background: none;
      border: none;
      height: 100%; // width: 100%;
    }
  }
  .icon-qingchu {
    color: $placeholder-color;
  }
}

.popup-box {
  height: 100%;
  width: 100%;
  background: $primary-bg-color;
  &.popup-box-top {
    max-height: 30vh;
    height: auto;
  }
  .picker-body {
    padding: 15px 10px;
  }
  .v-modal {
    display: none;
  }
  &.side-menu {
    width: 45%;
  }
}

.picker-box {
  width: 100%;
  background: white;
  .v-modal {
    display: none;
  }
}

.picker-row {
  padding: 5px 10px;
  input {
    line-height: 33px;
    -webkit-appearance: none;
    border: none;
    background: none;
    background-color: $small-gray-color;
    text-indent: 1em;
  }
}

.custom-model {
  position: absolute;
  background: rgba(0, 0, 0, .4);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.custom-content {
  padding: 10px 0;
  line-height: 1.5em;
  p {
    white-space: normal;
  }
}

.popup-picker {
  height: 30vh;
  left: 0;
  right: 0;
}

.picker-header {
  text-align: center;
  overflow: hidden;
  position: relative;
  line-height: 45px;
  font-size: $font-size-m;
  color: $placeholder-color;
  background-color: white;
  .confirm {
    color: $primary-color;
  }
  .right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.no-data {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $placeholder-color;
  .icon-car {
    margin: 10px 0;
    padding: 10px;
    font-size: 2em;
    background: $border-color;
    border-radius: 50%;
  }
}

.top-alert {
  padding: 15px;
  background-color: rgba(0, 0, 0, .05);
}

.photo-card {
  padding: 15px;
  background-color: white;
}

.photo-card-inner {
  position: relative;
  .preview {
    height: 180px;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .tip {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translateY(-50%), tranlateX(-50%);
    }
    .icon-qingchu {
      position: absolute;
      right: -.5em;
      top: -.5em;
      font-size: 20px;
      color: $placeholder-color;
      z-index: 999;
      &:active {
        color: $el-red;
      }
    }
  }

  .upload-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .15);
    height: 180px;
    flex-direction: column;
    overflow: hidden;
    .icon-paizhao {
      font-size: 2em;
      color: $primary-font-color;
    }
    .tip {
      color: white;
      text-align: center;
    }
    input {
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}


ol {
  li {
    list-style: decimal;
    list-style-position: inside;
  }
}

.footer {
  padding: 10px;
  .note-line {
    color: $mid-gray-color;
  }
}

.ui-txt-justify {
  text-align: justify;
}
