// ----- 放到body空间下，避免加载顺序导致不生效------
body {
  .mint-cell-wrapper {
    // background-image: none;
    padding: 0 15px;
    font-size: $font-size-m;
  }

  .overflow-scroll {
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    max-height: 100vh;
  }

  .mint-tab-item {
    color: $primary-font-color;
  }

  .mint-indicator-wrapper {
    z-index: 99999;
  }

  .mint-radiolist {
    &.first-no-border {
      .mint-cell:first-of-type {
        .mint-cell-wrapper {
          background-image: none;
        }
      }
    }
    &[state="error"] {
      .mint-radiolist-label {
        color: $error-color;
      }
    }
  }

  .mint-radio-core {
    width: 16px;
    height: 16px;
    &:after {
      top: 4px;
      left: 4px;
      height: 6px;
      width: 6px;
    }
  }

  .mint-radiolist-title {
    font-size: $font-size-m;
    padding: 2px 10px;
  }

  .cell-radiolist .mint-radiolist-title {
    font-size: $font-size-xs;
    padding: 0;
    margin: 0;
  }

  .mint-navbar {
    overflow-x: scroll;
    touch-action: pan-x;
    .mint-tab-item {
      min-width: 4em;
      &.is-selected {
        margin-bottom: -1px;
      }
    }
  }

  .mint-popup-bottom {
    width: 100%;
  }

  .mint-actionsheet-listitem,
  .mint-actionsheet-button {
    padding: 8px 0;
    line-height: 1.5em;
    height: auto;
  }

  .mint-field-core {
    font-size: $font-size-s;
    display: flex;
    padding: 0;
    background: none;
  }

  .mintui-back:before {
    font-weight: bolder;
  }

  .mint-cell {
    // background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
    // background-size: 100% 1px;
    // background-repeat: no-repeat;
    // background-position: bottom;
    min-height: 45px;
    &[state="error"] {
      .mint-cell-value {
        color: $error-color!important;
      }
    }
    &.minor-title {
      .mint-cell-title {
        color: $placeholder-color;
      }
    }
    &.no-border {
      .mint-cell-wrapper {
        background-image: none!important;
      }
    }
    &:not(.ui-border-t):first-child {
      .mint-cell-wrapper {
        background-image: none;
      }
    }
    &:not(.ui-border-b):last-child {
      background-image: none;
    }
    &.click-active {
      &:active {
        opacity: 0.8;
      }
    }
    &.sub-cell {
      .mint-cell-title {
        padding-left: 15px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          height: 8px;
          width: 8px;
          top: 4px;
          border: 2px solid $border-color;
          border-color: transparent transparent $border-color $border-color;
          border-width: 0 0 2px 2px;
          left: 0;
        }
      }
    }
    &.has-hint {
      .mint-cell-title {
        margin: 10px 0;
      }
    }
    &.input-right {
      .mint-field-core {
        text-align: right;
      }
    }
    &.title-cell {
      .mint-cell-title,
      .mint-cell-value {
        font-size: 1.1em;
      }
      &:before {
        content: '';
        position: absolute;
        height: 1.1em;
        width: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: $primary-color;
      }
    }
    &.title-simple-cell {
      min-height: 30px;
      color: $placeholder-color;
      .mint-cell-wrapper {
        font-size: $font-size-xxs;
      }
    }
    &.em-cell {
      min-height: 50px;
      .mint-cell-title {
        font-size: 1.1em;
        color: $primary-color;
      }
    }
    &.field-cell {
      .mint-cell-title {
        // flex-basis: 120px;
        width: 110px;
        flex: none;
      }
    }
    &.empty,
    &.readonly {
      .mint-cell-value {
        color: $placeholder-color;
        .em,
        em {
          color: $primary-font-color;
        }
      }
    }
    &.input-file-cell {
      &:active {
        background-color: rgba(0, 0, 0, .1);
      }
      .avata {
        padding: 10px 0;
        input {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
    .wrap-title {
      white-space: normal;
      line-height: 1.5em;
    }
  }

  .has-border>.mint-cell:first-child {
    .mint-cell-wrapper {
      background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
      background-origin: content-box;
    }
  } // &:last-child {
  //   background-image: none;
  // }
  .mint-msgbox {
    border-radius: 12px;
    width: 75%;
  }
  .mint-msgbox-content {
    border-bottom: 0;
    background-image: linear-gradient(0deg, $border-color, $border-color 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .mint-msgbox-confirm {
    color: $primary-color;
  }
  .mint-field-state {
    margin-left: 5px;
    .mintui {
      font-size: 17px; // vertical-align: middle;
      vertical-align: -4px;
    }
  }
  .mint-button--danger {
    background: $el-red;
  }
  .mint-button--warning {
    background: $el-orange;
  }
  .mintui {
    -webkit-text-stroke-width: 0;
  }

  .mint-tabbar {
    background-color: #3f454c;
    background-image: none;
    &>.mint-tab-item {
      color: #c2c4c7;
      position: relative;
      .iconfont {
        font-size: 20px;
      }
      .active-onselect {
        display: none;
      }
      &.is-selected {
        color: $primary-color;
        background: none;
      }
    }
  }
  .mint-cell-allow-right::after {
    right: 16px;
  }
  .mint-msgbox-cancel {
    color: $minor-font-color;
    border-right: 0;
    background-image: linear-gradient(90deg, $border-color, $border-color 50%, transparent 50%);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
  .mint-msgbox-message {
    line-height: 1.5em;
    color: $primary-font-color;
    word-wrap: break-word;
    word-break: break-all;
    &.text-left {
      text-align: left;
    }
    th {
      font-weight: normal;
      text-align: right;
    }
    ol>li {
      text-align: left;
      list-style: decimal;
      list-style-position: inside;
    }
  } // .mint-field {
  //   &.not-empty {
  //     .mint-field-core:focus + .mint-field-clear {
  //       display: block!important;
  //     }
  //   }
  // }
  .mint-field .mint-cell-title {
    width: 110px;
  }

  .mint-button--primary,
  .mint-header-button {
    a {
      color: white;
    }
  }
  .mint-header-title {
    flex: 2;
    margin: 0;
    line-height: 1.1em;
  }
  .mint-button--default {
    box-shadow: none;
    background-color: transparent;
    &:after {
      display: none;
    }
  }
  .mint-header-button {
    .mint-button--default::before {
      display: none;
    }
    &.is-left {
      .mint-button {
        font-size: $font-size-s;
      }
    }
    small {
      color: white;
    }
  }
  .mint-cell-title {
    flex-shrink: 0;
    white-space: nowrap; // overflow: hidden;
    .iconfont {
      font-size: 20px;
      vertical-align: -3px; // margin-left: 3px;
    }
    .icon-wenhao {
      display: inline-block;
      color: $el-red;
      transform: translateY(-50%); // vertical-align: super;
    }
    .title-hint {
      margin-top: 10px;
      font-size: 12px;
      color: $placeholder-color; // @include font-size-xxxs;
    }
  }
  .mint-cell-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mint-cell-value {
    min-width: 0;
    color: $primary-font-color;
    font-size: $font-size-s;
    &.is-link {
      margin-right: 14px;
    }
    .inputs {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .input-line {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .mintui-field-error {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e611";
    }
  }
  .mintui-field-success {
    font-family: 'iconfont'!important;
    &:before {
      content: "\e6e5";
    }
  }
  .mint-field-clear {
    .mintui-field-error {
      font-family: "mintui" !important;
      font-size: 20px;
      vertical-align: -4px;
      &:before {
        content: "\E605";
      }
    }
  }

  .mint-header {
    height: $header-height;
    font-size: 18px;
    color: white;
    background-color: $header-bg-color;
    &.is-fixed {
      z-index: 999;
    }
  }

  .mint-button--primary {
    background-color: $primary-color;
    &:active {
      background-color: darken($primary-color, 5%);
    }
  }

  .mint-button {
    border-radius: 2px;
    height: 44px;
    font-size: $font-size-m;
    small {
      color: currentColor;
    }
    &.is-disabled {
      opacity: 0.3;
    }
    &:not(.is-disabled):active::after {
      opacity: 0.05;
    }
    &.mint-button-block {
      display: block;
      border-radius: 0;
      width: 100%;
    }
    .mint-button-text {
      white-space: nowrap;
    }
    &.no-border {
      &:before {
        display: none;
      }
    }
    &.mint-button--default::before {
      content: " ";
      border: 1px solid $font-color-em;
      top: 0;
      right: -99%;
      bottom: -100%;
      left: 0;
      position: absolute;
      transform-origin: left top;
      transform: scale(.5);
    }
    &.mint-button.br2::before {
      border-radius: 4px;
    }
  }
  .mint-button--small {
    display: inline-block;
    font-size: 14px;
    padding: 0 12px;
    height: 33px;
  }
  .mint-button--gray {
    background: #bfbfbf;
    color: white;
  }
  .mint-toast {
    z-index: 99999;
    min-width: 130px;
  }
  .mint-toast-icon {
    font-size: 56px;
    &.mintui-field-error {
      color: $error-color;
    }
    &.icon-warning,
    &.icon-ku {
      color: $error-color;
    }
  }

  .mint-field-other {
    position: static; // &:not(:empty) {
    //   margin-right: -10px;
    // }
    .mint-button {
      min-width: 70px;
      margin-left: 5px;
      font-size: $font-size-xxs;
      border-radius: 0;
      height: 25px;
      background: none;
      box-shadow: none;
      color: $font-color-em;
      padding: 0 7px;
      &.is-disabled {
        opacity: 0.8;
      }
    }
  }
  .dialog-message {
    text-align: left;
    p {
      // line-height: 1.6em;
      margin: .4em 0;
      font-size: 14px;
    }
    em {
      color: $warning-color;
      padding: 0 .1em;
    }
  }
}
